@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

#inspire {

  font-family: 'Source Sans Pro', sans-serif;
}
html {
  scroll-behavior: smooth;
}

a {
  text-decoration-line: none;
}

.drawer-btn {
  display: none;
}

.form {
  width: 250px;
}

.nav-btn {
  border: none
}


@media only screen and (max-width: 992px) {
  .nav-btn {
    display: none;
  }

  .drawer-btn {
    display: block;
  }
}

